#main-container h1 {
    color: var(--color-secondary);
    text-align: center;
    margin-bottom: 30px;
    font-size: 2.5em;
}

.purchase-guide-container {
    background-color: var(--color-card-background);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin: 20px;
    width: 90%;
    max-width: 1000px;
}

.payment-method {
    margin-bottom: 30px;
    padding: 20px;
    border: 1px solid #3a3f44;
    border-radius: 8px;
    background-color: var(--color-new-background);
}

.payment-method h2 {
    color: var(--color-secondary);
    margin-bottom: 20px;
    text-align: center;
    font-size: 1.8em;
    border-bottom: 2px solid var(--color-secondary);
    padding-bottom: 10px;
}

.payment-method p, .payment-method li {
    color: var(--color-primary);
    font-size: 1.1em;
    line-height: 1.7;
}

.payment-method ol {
    padding-left: 25px;
    list-style: decimal;
}

.payment-method li {
    margin-bottom: 15px;
}

.payment-method strong {
    color: var(--color-secondary);
    font-weight: 600;
}

a {
    color: var(--color-secondary);
    text-decoration: none;
    font-weight: 600;
}

a:hover {
    text-decoration: underline;
}
